.loginForm{
    text-align: center;
    border: none;
    background-color: #dee1c6;
}
.loginForm button{
    font-size: 15px;
    padding: 10px;
    border: 0px;
    border-radius: 25%;
    margin: 10px;
}